.wrapper 
  .hero-section
    .row
      .col-md-12
        h1 Wikipedia Viewer
        h3 Free Code Camp Exercise
        p Click the magnifying glass to search, or click Surprise me for a random article!
    .row
      .col-md-12.centrecontent
         form#magnify
          input#search placeholder="Search" type="search"
    .row
      .col-md-12
         a.btn href="https://en.wikipedia.org/wiki/Special:Random"  target="_blank" Surprise me!
.section
  .row.centrecontent
    .col-md-8
      .results
